@using ONX.CRM.ViewModel
@using System.Linq
@using System.Runtime.InteropServices.ComTypes
@{

    Dictionary<int, string> coursesForDropMenu = ViewBag.CoursesList;

}
@model RequestsListViewModel

<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">ONX.CRM</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Requests</li>
                    </ol>
                </nav>
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-9">
                            <div class="row row-cols-lg-auto g-2">
                                <div class="col-12">
                                    <a asp-controller="Requests" asp-action="Index" class="btn btn-outline-primary mb-3 mb-lg-0">Show all</a>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-white">Sort by Course</button>
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bx bx-chevron-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                @foreach (var course in coursesForDropMenu)
                                                {
                                                    <li>
                                                        <form asp-controller="Requests" asp-action="SearchRequests" method="post">
                                                            <input asp-for="Search.CourseId" type="hidden" value="@course.Key">
                                                            <button type="submit" class="dropdown-item"><span>@course.Value</span></button>
                                                        </form>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-3">
                            <div class="float-lg-end">
                                <div class="row row-cols-lg-auto g-2">
                                    <div class="col-12">
                                        <a asp-controller="Requests" asp-action="Edit" class="btn btn-outline-primary mb-3 mb-lg-0"><i class="bx bxs-plus-square"></i>Add new request</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
            <div class="card-body">
                <form asp-controller="Requests" asp-action="Index" method="post">
                    @if (!(bool) ViewBag.AllRequestsShow)
                    {
                        @if ((bool)ViewBag.GroupExists)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="row align-items-center">
                                        <div class="col-lg-9 col-xl-9">
                                            <div class="row row-cols-lg-auto g-2">
                                                <div class="col-12">
                                                    <div class="position-relative">
                                                        <button type="submit" class="btn btn-outline-success mb-3 mb-lg-0" role="button">
                                                            <i class="bx bxs-plus-square"></i>Add student(s) to group
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <select asp-for="GroupId" class="form-select mb-3" aria-label="Default select example">
                                                        <option value="hide">-- Group number --</option>
                                                        @foreach (GroupViewModel group in ViewBag.Groups)
                                                        {
                                                            <option value="@group.Id">@group.Number</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row pb-3">
                                <div class="col-12">
                                    <div class="row align-items-center">
                                        <div class="col-lg-9 col-xl-9">
                                            <div class="row row-cols-lg-auto g-2">
                                                <div class="col-12">
                                                    <div class="position-relative">
                                                        <a asp-controller="Groups" asp-action="Edit"
                                                           class="btn btn-outline-danger mb-3 mb-lg-0" role="button">
                                                            <i class="bx bxs-plus-square"></i>Create new group
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    <div>
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    @if (!(bool)ViewBag.AllRequestsShow && (bool)ViewBag.CheckingAllowed)
                                    {
                                        <th>Check</th>
                                    }
                                    <th>Created</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Course</th>
                                    <th>Type of Training</th>
                                    <th>Comments</th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.RequestsList.Count; i++)
                                {
                                    <tr>

                                        @Html.HiddenFor(m => m.RequestsList[i].Id)
                                        @if (!(bool)ViewBag.AllRequestsShow && (bool)ViewBag.CheckingAllowed)
                                        {
                                            <td>
                                                @Html.EditorFor(m => m.RequestsList[i].Selected)
                                            </td>
                                        }
                                        <td>
                                            @Model.RequestsList[i].Created
                                            @Html.HiddenFor(m => m.RequestsList[i].Created)
                                        </td>
                                        <td>
                                            @Model.RequestsList[i].LastName
                                            @Html.HiddenFor(m => m.RequestsList[i].LastName)
                                        </td>
                                        <td>
                                            @Model.RequestsList[i].FirstName
                                            @Html.HiddenFor(m => m.RequestsList[i].FirstName)
                                        </td>
                                        <td>
                                            @Model.RequestsList[i].Phone
                                            @Html.HiddenFor(m => m.RequestsList[i].Phone)
                                        </td>
                                        <td>
                                            @Model.RequestsList[i].Email
                                            @Html.HiddenFor(m => m.RequestsList[i].Email)
                                        </td>
                                        @Html.HiddenFor(m => m.RequestsList[i].CourseId)
                                        <td>
                                            @Model.RequestsList[i].Course.Title
                                            @Html.HiddenFor(m => m.RequestsList[i].Course.Title)
                                        </td>
                                        <td>
                                            @Model.RequestsList[i].Type.ToString()
                                            @Html.HiddenFor(m => m.RequestsList[i].Type)
                                        </td>
                                        <td>
                                            @Model.RequestsList[i].Comments
                                            @Html.HiddenFor(m => m.RequestsList[i].Comments)
                                        </td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <div class="d-flex order-actions">
                                                    <div>
                                                        <a asp-controller="Requests" asp-action="Edit"
                                                           asp-route-id="@Model.RequestsList[i].Id"><i class='bx bxs-edit'></i></a>
                                                    </div>

                                                    <div class="ps-2">
                                                        <a asp-controller="Teachers" asp-action="Delete"
                                                           asp-route-id="@Model.RequestsList[i].Id">
                                                            <i class='bx bxs-trash'></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <div class="text-info">Total: @Model.RequestsList.Count()</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>